.subtitle {
  letter-spacing: -2px;
  font-size: 48px;
  text-align: center;
  font-family: MadaSemiBold Arial sans-serif;
  color: #191636;
  margin-bottom: 32px;
}

.about {
  font-size: 24px;
  color: #19163C;
  margin-top: 20px;
  line-height: 32px;
  font-family: MadaSemiBold Arial sans-serif;
}

.link {
  text-decoration: underline;
  color: #19163C;
}

.section {
  margin-bottom: 40px;
}